.mac-window{
    height: 100%;
    overflow: hidden;
    background-color: black;
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 0.85);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .window-nav{
        background-color: #383635;
        padding: 0.3rem 0.5rem;
        border-top-left-radius:0.5rem;
        border-top-right-radius:0.5rem;
        display: flex;
        align-items: center;

        .dots{
            display: flex;
            gap: 0.5rem;
            width: 40%;

            .dot{
                height: 13px;
                width: 13px;
                border-radius: 50%;
            }
            .red{
                background-color: #ff605c;
            }
            .yellow{
                background-color: #ffbd44;
            }
            .green{
                background-color: #00ca56;
            }
        }
        
    }

    .content{
        height: 100%;
        // overflow: hidden;
    }
}

