.dock{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(23, 23, 23, 0.605);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(10px);
    border: 1px, solid, rgba(117, 115, 115, 0.573);
    transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);

    .icon{
        background-color: red;
        padding: 0.4rem;
        border-radius: 0.7rem;
        height: 3rem;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
    .icon:hover{
        
        transform: scale(1.8) translateY(-30%);
        transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
    .icon:hover + .icon{
        transform: scale(1.25) translateY(-20%);
        transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
        margin-left: 2rem;
        margin-right: 0.75rem;
        
    }
    .icon:has(+ .icon:hover){
        transform: scale(1.25) translateY(-20%);
        transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
        margin-right: 2rem;
        margin-left: 0.75rem;
    }

    .github{
        background-color: black;
    }
    .note{
        background:linear-gradient(to bottom,orange,rgb(85, 56, 1));
    }
    .pdf{
        background:linear-gradient(to bottom,red,rgb(54, 1, 1));
       
    }
    .calender{
        background: linear-gradient(to bottom,rgb(169, 2, 169),rgb(75, 2, 75));
    }
    .spotify{
        background: linear-gradient(to bottom,rgb(3, 183, 3),rgb(2, 76, 2));
    }
    .mail{
        background: linear-gradient(to bottom,rgb(38, 0, 255),rgb(8, 1, 48));
    }
    .link{
        background:linear-gradient(to bottom,aqua,rgb(1, 95, 95));
    }
    .cli{
        background-color: black;
    }
}
.dock:hover{
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}