*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body,#root{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background: url("./assets/wallpaper_large.jpg");
    // background: url("./assets/mac-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
